[workspace]
authors = ["mattbocc <matthew.boccalon@live.ca>"]
channels = ["conda-forge"]
name = "science-portal-mail"
platforms = ["osx-arm64", "win-64", "linux-64"]
version = "0.1.0"

[tasks]
start = "uvicorn main:app --reload --reload-dir ./"
prod_start = "gunicorn main:app --workers 1 --worker-class uvicorn.workers.UvicornWorker --bind 127.0.0.1:8000"

[dependencies]
python = ">=3.13.3,<3.14"
sendgrid = ">=6.12.2,<7"
python-dotenv = ">=1.1.0,<2"
fastapi = ">=0.115.12,<0.116"
pymongo = ">=4.11,<5"
pyvirtualdisplay = ">=2.2,<3"
requests = ">=2.32.4,<3"
unidecode = ">=1.3.8,<2"
pandas = ">=2.3.0,<3"
google-genai = ">=1.48.0,<2"

[pypi-dependencies]
nodriver = ">=0.46.1, <0.47"
opencv-python = ">=4.11.0.86, <5"
gunicorn = ">=23.0.0, <24"
